In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
from sklearn.model_selection import train_test_split
import os

In [2]:
df = pd.read_csv("D:/junotbok/6th week/adult.csv")

In [3]:
df.shape

(32560, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:

df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
df.columns = col_names
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [7]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education_num   32560 non-null  int64
 5   marital_status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital_gain    32560 non-null  int64
 11  capital_loss    32560 non-null  int64
 12  hours_per_week  32560 non-null  int64
 13  native_country  32560 non-null  object
 14  income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
# find categorical variables
# code here
cate_col = []
for col in df.columns:
    if df[col].dtype == object:
        cate_col.append(col)
print('There are {} categorical variables\n'.format(len(cate_col)))
print('The categorical variables are :\n\n', cate_col)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [10]:
# view the categorical variables
df_cate = df[cate_col]
df_cate.head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [11]:
df_cate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       32560 non-null  object
 1   education       32560 non-null  object
 2   marital_status  32560 non-null  object
 3   occupation      32560 non-null  object
 4   relationship    32560 non-null  object
 5   race            32560 non-null  object
 6   sex             32560 non-null  object
 7   native_country  32560 non-null  object
 8   income          32560 non-null  object
dtypes: object(9)
memory usage: 2.2+ MB

In [12]:
# visualize categorical column and unique count in those columns
for col in df_cate.columns:
    print("Frequency of categories in column '{}':\n".format(col))
    print(df_cate[col].value_counts())
    print("\n")

Frequency of categories in column 'workclass':

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64


Frequency of categories in column 'education':

education
HS-grad         10501
Some-college     7291
Bachelors        5354
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64


Frequency of categories in column 'marital_status':

marital_status
Married-civ-spouse       14976
Never-married            10682
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64


Frequency of categories in column 'occupation':

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64


Frequency of categories in column 'relationship':

relationship
Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64


Frequency of categories in column 'race':

race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64


Frequency of categories in column 'sex':

sex
Male      21789
Female    10771
Name: count, dtype: int64


Frequency of categories in column 'native_country':

native_country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64


Frequency of categories in column 'income':

income
<=50K    24719
>50K      7841
Name: count, dtype: int64

In [13]:
df_cate = df_cate.copy()

In [14]:
# replace '?' with np.nan
df_cate['occupation'] = df_cate['occupation'].str.strip().replace('?', np.nan)

In [15]:
df_cate.occupation.value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [16]:
# replace '?' with np.nan
df_cate['native_country'] = df_cate['native_country'].str.strip().replace('?', np.nan)

In [17]:
df_cate.native_country.value_counts()

native_country
United-States                 29169
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [18]:
# replace '?' with np.nan
df_cate = df_cate.apply(lambda x: x.str.strip().replace('?', np.nan))

In [19]:
df_cate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       30724 non-null  object
 1   education       32560 non-null  object
 2   marital_status  32560 non-null  object
 3   occupation      30717 non-null  object
 4   relationship    32560 non-null  object
 5   race            32560 non-null  object
 6   sex             32560 non-null  object
 7   native_country  31977 non-null  object
 8   income          32560 non-null  object
dtypes: object(9)
memory usage: 2.2+ MB

In [20]:
for col in df_cate.columns:
    print("Frequency of categories in column '{}':\n".format(col))
    print(df_cate[col].value_counts())
    print("\n")

Frequency of categories in column 'workclass':

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64


Frequency of categories in column 'education':

education
HS-grad         10501
Some-college     7291
Bachelors        5354
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64


Frequency of categories in column 'marital_status':

marital_status
Married-civ-spouse       14976
Never-married            10682
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64


Frequency of categories in column 'occupation':

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64


Frequency of categories in column 'relationship':

relationship
Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64


Frequency of categories in column 'race':

race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64


Frequency of categories in column 'sex':

sex
Male      21789
Female    10771
Name: count, dtype: int64


Frequency of categories in column 'native_country':

native_country
United-States                 29169
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64


Frequency of categories in column 'income':

income
<=50K    24719
>50K      7841
Name: count, dtype: int64

In [21]:
# asssign input features to X and output label to y
y = df_cate['income']
x = df_cate.drop('income', axis=1)

In [22]:
# split X and y into training and testing sets
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state= 42)

In [23]:
train_x.shape, test_x.shape

((26048, 8), (6512, 8))

In [24]:
# X_train.shape, X_test.shape

In [25]:
# impute missing categorical variables with most frequent value
for df2 in [train_x, test_x]:
    df2.loc[:, 'workclass'] = df2['workclass'].fillna(train_x['workclass'].mode()[0])
    df2.loc[:, 'occupation'] = df2['occupation'].fillna(train_x['occupation'].mode()[0])
    df2.loc[:, 'native_country'] = df2['native_country'].fillna(train_x['native_country'].mode()[0])

In [26]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (2.0.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (1.5.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (1.14.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\jhon wick\appdata\local\programs\python\python312\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [27]:
# import category encoders
import category_encoders as ce
from category_encoders import OneHotEncoder
# encode remaining variables with one-hot encoding
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital_status', 'occupation', 'relationship',
                                 'race', 'sex', 'native_country'])
train_x = encoder.fit_transform(train_x)
test_x = encoder.transform(test_x)

In [28]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
train_x = scaler.fit_transform(train_x)
test_x = scaler.transform(test_x)

In [29]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB
# instantiate the model
gnb = GaussianNB()
# fit the model
gnb.fit(train_x, train_y)

GaussianNB()

In [30]:
y_pred = gnb.predict(test_x)

y_pred

array(['>50K', '>50K', '>50K', ..., '<=50K', '>50K', '>50K'], dtype='<U5')

In [31]:
# print the scores on training and test set

print('Training set score: {:.4f}'.format(gnb.score(train_x, train_y)))

print('Test set score: {:.4f}'.format(gnb.score(test_x, test_y)))

Training set score: 0.5125
Test set score: 0.5060

In [32]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(test_y, y_pred)
print("Confusion Matrix:")
print(conf_mat)

Confusion Matrix:
[[1781 3131]
 [  86 1514]]

In [33]:
conf_mat = np.array([[1781, 3131], [86, 1514]])
# Extract values from the confusion matrix
TN, FP = conf_mat[0]
FN, TP = conf_mat[1]

In [34]:

# print classification accuracy

classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)

print('Classification accuracy : {0:0.4f}'.format(classification_accuracy))

Classification accuracy : 0.5060

In [35]:
# print precision score
precision = TP / (TP + FP)
print("Precision:", precision)

Precision: 0.32594187298170074

In [36]:
# report recall
recall = TP / (TP + FN)
print("Recall:", recall)

Recall: 0.94625

In [37]:
# Calculate F1-score
f1_score = 2 * (precision * recall) / (precision + recall)
print("F1-score:", f1_score)

F1-score: 0.48486789431545235